.tab-content {
    width: 120%;
    height: auto;
    margin-left: 250px;
    padding: 0px;
    background-color: #ededee;
}

/* ===============================FOOTER================== */
.footerPage {
    text-align: center;
    width: 30%;
    font-size: 13px;
    margin: 50px auto;
}

.circle-p {
    width: 20px;
    height: 20px;
    margin: 5px auto;
    border-radius: 100%;
    background-color: #fff;
}

.p-1 {
    background-color: #20df7f !important;
}

.t-2 {
    height: 20px;
    margin: 5px;
}

.progress {
    height: 6px;
}

.progress-bar {
    background-color: #20df7f;
}

.cotisationUp .card span {
    text-align: end;
    font-size: 12px;
    margin-top: 5px;
}